<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config/jdbc.properties"></properties>
	<typeAliases>
		<typeAlias alias="AreaDto" type="com.orm.dto.AreaDto"/>
		<typeAlias alias="BuildingDto" type="com.orm.dto.BuildingDto"/>
		<typeAlias alias="FloorDto" type="com.orm.dto.FloorDto"/>
		<typeAlias alias="StoreDto" type="com.orm.dto.StoreDto"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/MyBatisMapper.xml"/>
	</mappers>
</configuration>